---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from '../../layouts/Layout.astro'
import {Image} from "astro:assets"

export const getStaticPaths = async () => {
  const posts = await getCollection("posts")

  const paths = posts.map(post => {
    return {
      params: {
        slug: post.slug
      },
      props: {
        post
      }
    }
  })
  return paths
}

type Props = {
  post: CollectionEntry<"posts">
}

const {post} = Astro.props
const {Content} = await post.render()

---

<Layout title={`BLOG | ${post.data.title}`} bgcol="bg-blak" txtcol="text-white">
	<div class="slideDown container mx-auto px-2">
  
  <div class="max-w-[1000px] mx-auto flex flex-col justify-center">
    <!-- POST TITLE -->
    <h2 class="text-slate-100 text-4xl font-bold mb-1">{post.data.title}</h2>
    
    <Image 
      src={post.data.image} 
      width={1024} 
      height={1024 / 1.5} 
      alt={post.data.title}
      class="rounded shadow-xl my-4 aspect-thumbnail object-cover" 
    />

    <!-- MAIN POST CONTENT -->
    <div class="mt-0 prose prose-lg dark:prose-invert overflow-visible mb-20 text-slate-100 prose-p:my-0 prose-p:mb-4 prose-h1:m-0 prose-h1:text-white prose-h2:m-0 prose-h2:text-white">
      <Content /> 
    </div>
  
  </div>  
  
  </div><!-- \container -->
</Layout>

