---
import Logo from "../components/Logo.tsx"
import Nav from "../components/Nav.tsx"
import "../css/global.css"

interface Props {
	title: string;
  description?: string;
  image?: string;
	bgcol?: string;
	txtcol?: string;
}

const { title, description="Astron...", image="/imgs/logo.png", bgcol, txtcol } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel='shortcut icon' href='https://easycss.github.io/favicon/favicon.png' type='image/x-icon' /> 
    <script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<meta name="generator" content={Astro.generator} />
		<meta property="og:image" content={image} />
		<title>{title}</title>
	</head>
	<body class=`${bgcol}`>
    
    <div class="container mx-auto px-0 sm:pr-2">
      <div class="flex justify-between">
        <Logo client:load />
    
        <Nav client:load txtcol={txtcol} />
      </div>
    </div>
  
    <main>
      <slot />
    </main>
    
	</body>
</html>


<style is:global>

main{
  animation: .25s ease-out 0s 1 zoomIn;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

</style>